{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <main>
        <div class="index-container margin-top">
            <div class="mario-box">
                <h1 class="main-title">PRINCESS<br><span>PEACH</span><br>TOADSTOOL.</h1>
                <p class="copy-under-box">&copy;2025 OSORIOMICA</p>
            </div>
        
        
            <div class="game-info margin-bottom">
                <div class="pink-box margin-top-1"> 
                    <h3 class="margin-bottom-1">Welcome gamers!</h3>
                    <div class="about-text narrower white pad-left">
                        <p>Join Princess Peach as she navigates through various levels, collecting coins and avoiding enemies.</p>
                        <p>Press the spacebar to start the game! Use the arrow keys to move and jump. Collect coins and avoid enemies!</p>
                        <p class="margin-bottom-1">Play the first level for free now!</p>
                    </div>
                    <p class="copy-under-box">
                        <a href="https://facebook.com/PeachKaboom" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-square-facebook"></i>/PeachKaboom</a>
                    </p>
                </div>
            </div>
        </div>

        <a class="mario-box start-game-btn .button" href="{% url 'world1' %}">START GAME</a>
    
    </main>
{% endblock %}