{% extends "base.html" %}
{% load static %}

{% block extra_js %}
    <script src="https://kaboomjs.com/lib/0.5.0/kaboom.js"></script>
    <script src="{% static 'js/game.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        <div class="game-title" style="width: 70dvw; box-shadow: 0.3rem 0.3rem black, -0.2rem -0.2rem #ccc;">
            <h1>PRINCESS<br><span>PEACH</span><br>TOADSTOOL.</h1>
        </div>
        <p class="copyright">&copy;2025 OMIKA</p>
        <div class="game-info">
            <p>Welcome to the Princess Peach Toadstool game!</p>
            <p>This game is inspired by the classic Super Mario Bros. and is designed to be fun and interactive.</p>
            <p>In this game, you will control Princess Peach as she navigates through various levels, collecting coins and avoiding enemies.</p>
            <p>Press the spacebar to start the game!</p>
            <p>Use the arrow keys to move and jump.</p>
            <p>Collect coins and avoid enemies!</p>
        </div>
    </main>

    <!-- Ania Kubow's original modal html -->
    <div id="modal" class="modal">
        <div class="button-container">
            <button id="register-btn">Register</button>
            <button id="login-btn" class="not-active">Login</button>
        </div>
        <form onsubmit="" id="register-form">
            <label for="register-email"></label>
            <input type="email" name="register-email" id="register-email" placeholder="email@example.com" required>
            <label for="register-password"></label>
            <input type="password" name="register-password" id="register-password" placeholder="password" required>
            <label for="register-username">Username</label>
            <input type="text" name="register-username" id="register-username" placeholder="User" required>
            <br>
            <input type="submit" value="Sign Up">
        </form>
        <form onsubmit="" id="login-form" class="hidden">
            <label for="login-email"></label>
            <input type="email" name="login-email" id="login-email" placeholder="email@example.com" required>
            <label for="login-password"></label>
            <input type="password" name="login-password" id="login-password" placeholder="password" required>
            <br>
            <input type="submit" value="Sign In">
        </form>
    </div>

    <div class="info-container">
        <button id="logout-btn" class="hidden">Log Out</button>
        <h3 id="username"></h3>
        <h3 id="highscore-tag" class="hidden">HighScore: <span id="highscore"></span></h3>
    </div>
{% endblock %}