{% extends "base.html" %}
{% load static %}

{% block extra_title %}My account |{% endblock %}

{% block content %}
<main>
    <div class="margin-top margin-bottom">
        <div class="mario-box">
            <h1 class="profile-title margin-bottom-1">My account</h1>

            <div class="profile-row">
                <div class="profile-image">
                    <img src="{{ profile.profile_image.url }}" alt="Profile Image" style="width:150px">
                    <div class="avatar-buttons">
                        <button id="show-upload-btn" class="underline narrower smaller simple-button">
                            -Change your avatar-
                        </button>
                        {% if profile.has_custom_profile_image %}
                        <form action="{% url 'delete_profile_image' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="underline narrower smaller simple-button"
                                onclick="return confirm('Are you sure you want to delete your profile image?')">
                                Delete Image
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    <!-- Upload Form -->
                    <div id="upload-form-container" class="hidden">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'update_profile_image' %}"
                            class="profile-upload-form">
                            {% csrf_token %}

                            <label for="id_profile_image" class="profile-label">Choose your new avatar image:</label>
                            <input type="file" name="profile_image" id="id_profile_image" accept="image/*"
                                class="profile-input">

                            <p class="smaller">
                                *Accepted formats: JPG, PNG, GIF<br>
                                *Recommended size: 150x150 pixels<br>
                                *File size: Max 2MB
                            </p>
                            <div class="avatar-buttons">
                                <button type="submit" class="profile-box profile-btn button">Save</button>
                                <button type="button" id="cancel-upload-btn"
                                    class="profile-box profile-btn button">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="user-details">
                    <div class="profile-content">
                        <h3 class="profile-heading">Details</h3>
                        <ul class="about-text">
                            <li>username: {{ user.username }}
                            </li>
                            <li>email: {{ user.email }}</li>
                            <li class="margin-bottom-1">Member since: {{ profile.joined|date:"F j, Y" }}</li>
                        </ul>
                    </div>
                </div>

            </div>

            <hr>

            <div class="profile-content">
                <h3 class="profile-heading">Game Stats</h3>
                <ul class="about-text">
                    <li>Highest Score: {{ profile.score }}</li>
                    <li>level Reached: {{ profile.level }}</li>
                    <li>Achieved on: {{ high_score.created_at|date:"F j, Y @ H:i" }}</li>
                </ul>
            </div>
            <hr>

            <div class="profile-content">
                <h3 class="profile-heading">Subscription</h3>
                <div class="about-text">
                    {% if subscription %}
                    <ul class="margin-bottom-1">
                        <li>Status: {{ subscription.is_active|yesno:"Active,Inactive" }}</li>
                        <li>Plan: {{ subscription.plan_interval }}ly</li>
                        <li>Expires: {{ subscription.current_period_end|date:"F j, Y @ H:i" }}</li>
                    </ul>
                    {% if subscription.is_active %}
                    {% if subscription.cancel_at_period_end %}
                    <hr>
                    <p class="warning">Your renewal has been cancelled</p>
                    <p class="margin-bottom-2 smaller">You can continue playing until:
                        {{subscription.current_period_end|date:"F j, Y @ H:i" }}<br>
                        Not to worry! You can always reactivate your subscription:</p>
                    <form method="POST" action="{% url 'reactivate_subscription' %}">
                        {% csrf_token %}
                        <button type="submit" class="profile-box profile-btn button margin-1">
                            Reactivate
                        </button>
                    </form>
                    {% else %}
                    <form method="POST" class="margin-1">
                        {% csrf_token %}
                        <button type="submit" name="cancel_subscription" class="profile-box profile-btn button"
                            onclick="return confirm('Are you sure you want to cancel your subscription? \nIf you continue with your cancellation please refresh your browser to see the changes.')">
                            Cancel Subscription
                        </button>
                    </form>
                    {% endif %}
                    {% else %}
                    <p>Your Subscription has ended.</p>
                    {% endif %}
                    {% else %}
                    <p>You need an active subscription to access the premium levels.</p>
                    <a class="profile-box profile-btn button margin-top-1"
                        href="{% url 'subscription_required' %}">Subscribe</a>
                    {% endif %}
                </div>
            </div>

            <p class="copy-under-box">
                <a href="https://facebook.com/PeachKaboom" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-square-facebook"></i>/PeachKaboom</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const showUploadBtn = document.getElementById('show-upload-btn')
        const uploadFormContainer = document.getElementById('upload-form-container')
        const cancelUploadBtn = document.getElementById('cancel-upload-btn')

        showUploadBtn.addEventListener('click', function () {
            uploadFormContainer.classList.toggle('hidden')
            showUploadBtn.classList.add('hidden')
        })

        cancelUploadBtn.addEventListener('click', function () {
            uploadFormContainer.classList.add('hidden')
            showUploadBtn.classList.remove('hidden')
        })
        // Hide the upload form if the user clicks outside of it
        document.addEventListener('click', function (event) {
            if (!uploadFormContainer.contains(event.target) && !showUploadBtn.contains(event.target)) {
                uploadFormContainer.classList.add('hidden')
                showUploadBtn.classList.remove('hidden')
            }
        })
    })

</script>
{% endblock %}