{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="index-container margin-top margin-bottom">
        <div class="mario-box">
            <h2 class="sec-title">Subscribe</h2>
            <div class="sec-content">
                <p class="about-text"><strong> Please subscribe to a plan below to continue playing.</strong><br> 
                    Make sure the email matches your registered login.<br>
                    You will be redirected back to the game after completing your payment.</p>
            </div>
        </div>
    </div>

    <!-- Stripe Pricing table component -->
    <stripe-pricing-table 
    pricing-table-id="prctbl_1RcPGJ4YPhMNr4U2sPBji9bw"
    publishable-key="{{ STRIPE_PUBLIC_KEY }}"
    customer-email="{{CUSTOMER_EMAIL}}">
    </stripe-pricing-table>
{% endblock %}