{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<main>
    <div class="margin-top margin-bottom">
        <div class="mario-box">
            <h1 class="sec-title margin-bottom-2">{% trans "Password Reset" %}</h1>
            <div class="about-text margin-1">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>
                    {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. <br>Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
                </p>
            </div>
            <p class="copy-under-box">
                    <a href="https://facebook.com/PeachKaboom" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-square-facebook"></i>/PeachKaboom</a>
            </p>
        </div>
    </div>
</main>
{% endblock content %}
