{% extends "base.html" %}
{% load static %}

{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<main>
    <div class="margin-top margin-bottom">
        <div class="mario-box">
            <h1 class="sec-title margin-bottom-2">{% trans "Change Password" %}</h1>
            <div class="about-text margin-1">
                {% url 'account_change_password' as action_url %}
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="action" class="profile-box profile-btn button margin-top-1 margin-bottom-2">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
            <p class="copy-under-box">
                    <a href="https://facebook.com/PeachKaboom" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-square-facebook"></i>/PeachKaboom</a>
            </p>
        </div>
    </div>
</main>
{% endblock content %}
