{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<main>
    <div class="margin-top margin-bottom">
        <div class="mario-box">
            <h1 class="sec-title margin-bottom-2">{% trans "Change Password" %}</h1>
            <div class="about-text margin-1">
                <p class="margin-bottom-1 narrower">{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
