{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<main>
    <div class="margin-top margin-bottom">
        <div class="mario-box">
            <h1 class="sec-title margin-bottom-2">
                {% if token_fail %}
                    {% trans "Bad Token" %}
                {% else %}
                    {% trans "Change Password" %}
                {% endif %}
            </h1>
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="about-text margin-1">
                <p class="margin-bottom-1">
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                </p>
            {% else %}
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" name="action" %}
                            {% trans 'Change Password' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
