{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'game' as game_url %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'media/favicon.png' %}" type="image/x-icon">

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Princess Peach Toadstool is a fun and interactive web game based on Super Mario Bros.">
    <meta name="keywords"
        content="Princess Peach Toadstool, game, interactive, fun, mario, mario bros, kaboom, feminist">
    <meta name="author" content="osoriomica">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/12379e440c.js" crossorigin="anonymous"></script>
    <!-- <script src="https://kaboomjs.com/lib/0.5.0/kaboom.js"></script>
    <script src="{% static 'js/game.js' %}"></script> -->
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block extra_title %}{% endblock %}Princess Peach Toadstool | Game</title>
</head>
<!-- body -->

<body>
    <!-- MESSAGE -->
    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    <!-- Navbar -->
    <header>
        <!-- <div id="logo"></div><a href="{% url 'home' %}"></a></div> -->
        <ul class="navbar">
            <li><a href="{% url 'home' %}" class="{% if request.path == home_url %}active"
                    aria-current="page{%endif%}">HOME</a></li>
            <li><a href="{% url 'game' %}">START GAME</a></li>
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li><a href="#admin-panel" id="admin-panel">ADMIN PANEL</a></li>
            {% endif %}
            
            <li><a href="#profile">MY ACCOUNT</a></li>
            <li><a href="{% url 'account_logout' %}">LOG OUT</a></li>
            {% else %}
            <li><a href="{% url 'account_signup' %}">SIGN UP</a></li>
            <li><a href="{% url 'account_login' %}">LOG IN</a></li>
            {% endif %}

        </ul>
    </header>
    <div class="over"></div>

    <!-- Block content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <ul class="footer">
            <li>&copy;2025 OSORIOMICA</li>
            <li><a href="{% url 'about' %}" class="{% if request.path == about_url %}active"
                    aria-current="page{%endif%}">ABOUT</a></li>
            <li><a href="#sitemap">SITEMAP</a></li>
            <li><a href="https://www.facebook.com/PeachKaboom" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-facebook"></i>/PeachKaboom</a>
            </li>
        </ul>
    </footer>

    {% block postloadjs %}
    {% endblock %}
</body>

</html>