{% extends "base.html" %}
{% load static %}

{% block extra_title %}About |{% endblock %}

{% block content %}
<main>
    <div class="margin-top margin-bottom">
        <div class="mario-box">
            <h1 class="sec-title">{{ about.title }}</h1>
            <div class="sec-content">
                <p>Updated on: {{ about.updated_at|date:"F j, Y, H:i" }}</p>
                <div class="about-img margin-bottom-1"><img src="{% static 'media/about.png' %}" alt="placeholder image">Credit Image: Super Princess Peach 2005. Nintendo</div>
                <div class="about-text">{{ about.content|safe }}</div>
            </div>
        
            <p class="copy-under-box">
                <a href="https://facebook.com/PeachKaboom" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-square-facebook"></i>/PeachKaboom</a>
            </p>
        </div>
    </div>
    
    <a class="mario-box start-game-btn .button" href="{% url 'world1' %}">START GAME</a>
</main>
{% endblock %}