{% extends "base.html" %}

{% url 'game' as game_url %}

{% block extra_js %}
    <script src="https://unpkg.com/kaboom@3000/dist/kaboom.js"></script>
{% endblock %}
{% load static %}

{% block content %}
    
        <div class="info-container">
            <h3 id="username">{{ user }}</h3>
            <h3 id="level-tag">Level: <span id="levelId">1</span></h3>
            <h3 id="highscore-tag" class="score-display">Score: <span id="highscore" class="score-value">0</span></h3>
        </div> 

{% block postloadjs %}
    <script type="module" src="{% static 'js/game.js' %}"></script>
{% endblock %}
    
{% endblock %}
