{% extends "base.html" %}

{% url 'game' as game_url %}

{% block extra_js %}
    <script src="https://unpkg.com/kaboom@3000/dist/kaboom.js"></script>
{% endblock %}
{% load static %}

{% block content %}
    
    <!-- <canvas id="peach-canvas" width="100vw">     -->
        <div class="info-container">
            <h3 id="username"></h3>
            <h3 id="highscore-tag" class="hidden">Your Highest score: <span id="highscore"></span></h3>
        </div> 
    <!-- </canvas> -->

{% block postloadjs %}
    <script type="module" src="{% static 'js/game.js' %}"></script>
{% endblock %}
    
{% endblock %}
