{% extends "base.html" %}

{% url 'world1' as world2_url %}
{% url 'world2' as world2_url %}

{% block extra_js %}
    <script src="https://unpkg.com/kaboom@3000/dist/kaboom.js"></script>
{% endblock %}
{% load static %}

{% block content %}
    <main data-previous-score="{{ previous_score|default:0 }}" data-previous-url="{% url 'world1' %}">  
        <div class="info-container">
            <h3 id="username">{{ user }}</h3>
            <h3 id="level-tag">World 2 - <span id="levelId">1</span></h3>
            <h3 id="highscore-tag" class="score-display">Score: <span id="highscore" class="score-value">{{ score }}</span></h3>
        </div> 
    </main>
{% block postloadjs %}
    <script type="module" src="{% static 'js/world2.js' %}"></script>
{% endblock %}
    
{% endblock %}
